@tailwind base;
@tailwind components;
@tailwind utilities;
body{
    font-family: 'Roboto', sans-serif;
    /*background-color: #f9f9f9;*/
    color: #333;
}
.container-width{
    width: 1238px;
    margin: 0 auto;
}
.no-scrollbar::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.no-scrollbar {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

@keyframes upDownBg {
    0%, 100% {
        background-position: center top;
    }
    50% {
        background-position: center bottom;
    }
}

.animate-upDownBg {
    animation: upDownBg 10s ease-in-out infinite alternate;
}
