@tailwind base;
@tailwind components;
@tailwind utilities;
body{
    font-family: 'Roboto', sans-serif;
    /*background-color: #f9f9f9;*/
    color: #333;
}
.container-width{
    width: 1238px;
    margin: 0 auto;
}
